body {
  font-family: 'Lato', sans-serif;
}

button,
#submit {
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
  padding: 10px 20px;
  background: #77b52e;
  border: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.5px;
  border-radius: 10px;
  color: white;
  margin: 10px 0px;
  outline:none;
}

button:hover,
#submit:hover {
  background: #5d9619;
  cursor: pointer;
}

#submit:focus {
  outline:0;
}

input[type=text],
textarea {
  font-size: 18px;
  padding:15px;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.hide {
  display:none;
}

#movieDetails {
  border: 1px solid #ddd;
  padding: 30px;
}

.header-bar {
  background-color: #eee;
}

#movie-list {
  font-size: 26px;
  color: #77b52e;
  list-style: none;
  list-style-position: inside;
  padding-left: 0px;
}

#movie-list li {
  border: 1px solid #eee;
  margin: 10px 0px;
  padding:20px;
}

h1 {
  margin-top: 10px;
}
